*{
    text-decoration: none;
}
.navbar{
    background-color: rgb(28, 27, 27);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    padding-right: 15px;
    
}
.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header
{
    height: 120vh;
    width:100%;
    background-image:url(edu1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo a{
    font-size: 35px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(244, 247, 249);
    border-bottom: 3px solid rgb(232, 111, 111);
    border-radius: 20%;
}
li{
    list-style: none;
    display: inline-block;
    
}
li a{
    font-size: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(214, 152, 76);
    margin-right: 25px;
}
a:hover{
    border-bottom: 3px solid rgb(232, 111, 111);
    border-radius: 20%;
    transition: 10ms ease;
}


.background{
    margin-bottom: 13rem;
}
.para1{
    color: aliceblue;
    font-size:20px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 35px;
    padding-right: 55px;
    margin-bottom: 3rem;
    
}
.para2{
color: aliceblue;
font-size:10px;
text-align: center;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding-left: 35px;
padding-right: 55px;
}
.btn{
    text-align: center;
}
.button1{
    font-size:25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 25px;
    background-color: rgb(109, 61, 154);
    color: aliceblue;
    text-align: center;
    box-shadow: 10px 5px 5px white;
    padding: 5px 15px;
    width: 10%;
}
.button1:hover{
    background-color: aliceblue;
    color: rgb(230, 38, 182);
    box-shadow: black;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.divrat{
    color: black;
    margin-right: 15%;
}
.checked{
    color: rgb(235, 178, 8);
    margin-right: 15%;
}
.h2{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.edutext{
    float:left;
    width:30%;
    
}
.sidetext{
    background-color:black;
    padding: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    
}
.text{
    margin-left: 35%;
}
.services{
    text-align: center;
}
.cardcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.cardcontent{
    padding: 16px;
}
.cardcontent h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.cardcontent p{
    font-size: 15px;
    line-height: 1.3;
}
.feature{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.f1{
    display: list-item;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style:disc;
    font-size: 20px;
}
.feature1{
    display: flex;
    background-color: rgb(166, 197, 239);
    
}

.featimg{
    float: right;
    width:60%;
    margin: 20px;
    height: 60%;
   border-radius: 10%;
}
.team{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#D5A3FF 0%,#77A5F8 100%);

}
.team1{
    background: #ffff;
width: 800px;
border-radius: 15px;
padding: 20px;
box-shadow: 10px 10px 10px;
display: flex;
}
h1{
    text-align: center;
}

.members{
    display: flex;
}
.team-members{
    margin: 8px;
}
.teamimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
h3,p{
    text-align: center;
    font-size: 12px;
    margin: 7px;
}
hr{
    text-align: center;
    max-width: 30%;
}